<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .footer {
            background-color: #222222;
            color: #ffa500;
            padding: 20px 0;
            bottom: 0;
            width: 100%;
            margin-left: 0%;
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
        p{
            font-style: italic;
        } 
        a{
            color: #ffa500;
        }
        
    </style>
</head>
<body>
    <div class="footer">
        <h1>Contact</h1>
        <p>E-Mail:<a href="mailto:optraken8.gmail.com">optraken8.gmail.com</a></p>
        <p>Bel ons: <a href="tel:+123456789">06 123456789</a></p>
        <h1>Socials</h1>
        <p>Instagram: <a href="https://www.instagram.com/optraken8/">Optraken8</a></p>
        <p>Facebook: <a href="">Optraken8</a></p>
    </div>
</body>
</html>