<header>
    <div class="title">
        <h1>L'Optraken</h1>
    </div>

    <div class="flags-container">
        <div class="logo-container">
            <a href="#" onclick="selectFlag(event, 'nl')"></a>
            <img src="/img/NLD_flag.png" alt="Netherlands Flag" class="flag">
            <span class="stripe"></span>
        </div>
    
        <div class="logo-container">
            <a href="#" onclick="selectFlag(event, 'uk')"></a>
            <img src="/img/GRB_flag.png" alt="United Kingdom Flag" class="flag">
            <span class="stripe"></span>
        </div>
    </div>
</header>
<nav>
    <a href="/home">Home</a>
    <a href="/beeldhouwen">Beeldhouwwerken</a>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/texel">Vakantie verhuur Texel</a></li>
            <li><a class="dropdown-item" href="/frankrijk">Vakantie verhuur Frankrijk</a></li>
        </ul>
    </div>
</nav>