<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #f8f8f8;
    }
    header {
        display: flex;
        background-color: #151515;
        justify-content: space-between;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
        position: relative;
        text-align: center;
        align-items: center;
    }
    .title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    header h1 {
        align-items: center;
        font-weight: 700;
        color: #333333;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: color 0.9s ease;
        text-align: center;
    }
    header h1:hover {
        color: #ffa500;
    }
    nav {
        background-color: #333333;
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
    }
    nav a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 20px;
        transition: color 0.3s ease;
    }
    nav a:hover {
        color: #ffa500;
    }

    .logo-container {
        display: flex;
        align-items: center;
        position: relative; /* Added position relative for proper positioning of the .stripe */
    }
    .logo-container img {
        width: 40px;
        margin-right: 10px;
        cursor: pointer;
    }
    .flag {
        width: 30px;
        height: auto;
        filter: grayscale(100%);
        transition: filter 0.9s ease;
        cursor: pointer;
        position: relative;
    }
    .flag:hover {
        filter: none;
    }

    .stripe {
        display: block;
        width: 40%;
        height: 6px;
        background-color: #ffa500;
        position: absolute;
        bottom: -8px;
        left: 17%;
        opacity: 0; 
        transition: opacity 0.9s ease;
        border-radius: 9px;
    }

    .logo-container:hover .stripe {
        opacity: 1; 
    }

    .flags-container {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-left: auto;
        justify-content: space-between;
    }
    .dropdown button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .dropdown{
        display: inline-block;
    }
</style>